ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.nav-list li {
  display: inline-block;
  margin-right: calc( 8vmin)
}
.nav-list li:last-child {
  margin-right: 0
}
.nav-list li:first-child {
  margin-left: 8vmin
}

.nav-list a:visited, .nav-list a {
  color: white;
  /* text-decoration: none; */
}


nav.nav-bar {
  background-color: #282c34;
  height: calc(2.2rem + 3vmin);
  /* max-height: 4rem; */
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(12px + 1vmin);
  
  color: white;
}