.form-field {
  margin: 1rem .5rem 1rem 0;
}

.date-field {
   display: inline-block;
   margin: 1rem 1rem 1rem 0;
}

.btn {
  margin-top: 2rem;
}

.login-form {
  margin-top: 1rem;
}
.checkbox {
  margin-top: 1rem;
}
.form-label {
  margin: 1.5rem 0 .5rem 0;
  text-align: left;
}

.date-label {
  margin-top: 3rem ;
}