



.form-field {
  margin: .5rem ;
  display: inline-block;
}

.btn {
  margin-top: 2rem;
}

.login-form {
  margin-top: 1rem;
}
.checkbox {
  margin-top: 1rem;
}
.form-lable {
  margin: 1.5rem 0 .5rem 0;
}