
.left-side, .right-side {
  width: 31rem;
  margin: calc(.5rem + 4vh) 1.5rem 1.5rem 1.5rem ;

}


.login-text.text {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
}

@media only screen and (max-width: 600px) {
  .left-side {
    width: 90vw
  }
  .right-side {
    width: 90vw

  }
  .logo.main-logo {
    width: 15rem;
  }
 }
 @media only screen and (min-width: 600px) {
  .left-side {
    width: 31rem;
  }
  .right-side {

    width: 31rem;
  }
  .logo.main-logo {
    width: 25rem;
  }
 }