.panel-container {
  padding: .5rem;
  background-color: rgb(215, 227, 233);
  border-radius: 8px;
  padding-bottom: 5rem;
}

ul.contact-info{
  margin: 0;
  min-width: 15rem ;
}
ul.contact-info.phone {
  margin-right: 2rem;
}

.rep-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between
}
@media only screen and (max-width: 600px) {
  .panel-container {
    padding:.6rem;
    width: 96vw;
  }
}
@media only screen and (min-width: 600px) {
  .panel-container {
    padding: 0 3rem 3rem 3rem ;
    width: 96vw;
    max-width: 48rem;
  }
}

p {
  margin: 0 0 .5rem 0;
}

.bold {
  font-weight: bold;
}
.name {
  font-size: 1.2rem;
}
p.name {
  text-align: left;
}