.img-sticker {
  height: 6rem;
  width: 6rem;
  margin: 2px 6px;
  border-radius: 100%;
  display: inline-block

}

.img-sticker.img-vote {
  border: 5px solid rgb(23, 80, 129);
  background-image: url("https://i.imgur.com/EYwhsdg.png");
  height: 6.5rem;
  width: 6.5rem;
}

.img-sticker.img-no-vote {
  border: 5px solid rgb(124, 18, 18);
  background-image: url("https://i.imgur.com/GERvwBT.png")
}

.sticker-img-box {
  display: inline-block; 
  display: flex;
  flex-direction: row;
  max-width: 40rem;
  padding-bottom: 1rem;
}
.photo-text {
  font-family: cursive;
}
h2.photo-text {
  font-size: 1.9rem;
  color: rgb(23, 80, 129);
  margin: 0;
  padding: 0;
}

.photo-container {
  padding: 1rem;
  display: inline-flex;
  flex-direction: column;
  width: 38rem;
  height: 38rem;
  background-color: rgb(229, 238, 245);
}

.photo-padding {
  margin: 10vh 0 2rem 0;
}


.share-logo {
  padding-bottom: 1.5rem;
}
