.election-date {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.voted {
  background-color: green;
}

.missed {
  background-color: red;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  
}